# Environment variables - JANGAN commit ke git
.env
.env.local
.env.production

# Binary
sirekap
output/

# Uploads lokal
static/uploads/

# OS
.DS_Store
Thumbs.db
node_modules/
Daftar_Nama_Kegiatan_Rapi.xlsx
SIREKAP Penilaian Mitra.docx
SE2026_66_5205_exportmitra_2026-09-14_185109.xlsx
WhatsApp Image 2026-09-14 at 19.26.28.jpeg
WhatsApp Image 2026-09-14 at 19.56.32.jpeg
