# Environment variables - JANGAN commit ke git
.env
.env.local
.env.production

# Binary
sirekap
output/

# Uploads lokal
static/uploads/

# OS
.DS_Store
Thumbs.db
node_modules/
Daftar_Nama_Kegiatan_Rapi.xlsx
SIREKAP Penilaian Mitra.docx
